.footer {
    width: 100%;
    color: #222;
    padding: 24px 0 16px 0;
    text-align: center;
    background: none;
    margin-top: 20px;
}

.footer-divider {
    width: 100%;
    border: none;
    border-top: 2px solid #000;
    margin-bottom: 18px;
    margin-top: 8px;
}