html, body, #root {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.app-root {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#root {
    overflow-x: hidden;
}

/* 적응형 컨테이너 */
.app-container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.app-content {
    flex: 1;
    width: 100%;
}

.app-loading {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* 모바일 스타일 (기본) */
@media (max-width: 767px) {
    .app-container {
        padding: 0;
    }
}

/* PC 스타일 */
@media (min-width: 768px) {
    .app-container {
        max-width: var(--max-content-width);
        margin: 0 auto;
    }
}

/* modal 오픈시 스크롤 차단 */
body.modal-open {
    overflow: hidden;
}
