html, body, #root {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.app-root {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    position: relative;
}


/* 전역 가로 스크롤 제거 */
html, body { overflow-x: hidden; }
