html, body, #root {
     margin: 0;
     padding: 0;
     width: 100%;
     height: 100%;
}

.app-root {
    width: 100%;
    height: 100vh;
    max-width: 100%;
    position: relative;
}

#root{
    overflow: visible;
}


/* 전역 가로 스크롤 제거 */
html, body { overflow-x: visible; }

/* modal 오픈시 스크롤 차단 */
body.modal-open {
    overflow: hidden;
}
